# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
.env.local

# Logs
npm-debug.log*
logs/

# Coverage
coverage/

# Build outputs
dist/
build/

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Test artifacts
*.local
